* {
  box-sizing: border-box;
}

body {
  width:100%;
  height:100%;
  margin:0;
  display:grid;
  grid-template-rows:5vh 15vh 25vh 10vh 40vh minmax(5vh, auto) 5vh;
  grid-template-columns: 30% 50% 20%;
  background-color:#d34038;
  color: white;
  font-family:sans-serif;
}

a {
  color:white;
}

.player {
  grid-area: 1/1/1/1;
  background-color:#ebee58;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow: hidden;
}

.playervolume{
  height:100%;
  width: 40%;
}

.playervolume input{
  height:100%;
  width:100%;
}

.playerplaypause{
  height:4vh;
}

.playerplaypause img{
  height:100%;
  width:100%;
  padding-right:1vw;
  padding-left:1vw;
}

.playerlabel{
  width: 50%;
  text-align:right;
  color:black;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1.8vh;
  display:block;
}  

.ticker{
  box-sizing:content-box;
  grid-area: 1/2/span 1/ span 2;
  overflow: hidden;
  background-color:white;
  white-space:no-wrap;
  height:100%;
}

.tickertext{
  color:black;
}

div.ticker > div.tickertext{
  white-space:nowrap;
  display:inline;
  width:auto;
  font-size: 2vh;
  vertical-align: middle;
  line-height: normal;
  padding-top:1.5vh;
}

.leftbar{
  grid-area:2/1/span 5/span 1;
}

.leftbar a{
  text-decoration:none;
}

.leftbar ul{
  list-style-type: none;
  margin: 0;
  padding: 2vw;
  font-size: 3vw;
}

.leftbar li{
  width: 19vw;
  border-style: none none solid none;
}

.logodesktop {
  width:90%;
  padding-top:2vw;
  padding-left:2vw;
}

.logomobile {
  display:none;
  width:100%;
  padding-top:2vw;
  padding-left:2vw;
}

.mobilelink{
  display:none;
}

.content{
  grid-area:2/2/span 5/span 1;
}

.contentpage{
  padding-right:5vw;
  padding-top: 1rem;
}

.contentpage h1, .contentpage h2, .contentpage h3, .contentpage h4{
  margin: 0;
  width: 100%;
}

.contentpage p:empty{
  display: none;
}

.contentpage p {
  width:100%;
  margin: 0;
  word-wrap: break-word;
}

.contentpage hr {
  width: 100%;
  border: none;
}

.richtext-image.left{
  width:50%;
  height:auto;
  float: left;
  padding-right: 0.5em;
  padding-top: 0.5em;
}

.richtext-image.right{
  width:50%;
  height:auto;
  display: block;
  margin-left: auto;
  float: right;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

.richtext-image.full-width{
  width:100%;
  height:auto;
}

.contentpage a{
  color:inherit;
}

.contentpage iframe{
  width:100%;
  aspect-ratio: 16 / 9;
  height:fit-content;
}

.richtext-image{
  margin: 0;
  height:auto;
  width:100%;
  padding: 0;
}

.arrowlink a{
  text-decoration:none;
}

.listenback{
  grid-area:2/3;
  padding:2vw;
}

.listenlive.arrowlink {
  grid-area:4/3;
  border-bottom: solid white;
  cursor:pointer;
}

.footer{
  grid-area:7/1/span 1/span 3;
  text-align:right;
  padding:1em;
  background-color:#d34038;
}

.bigplayer{
  grid-area:5/3;
  display:grid;
  grid-template-rows: 20fr 80fr;
  text-align:left;
}

.bigplaypause{
  width:50%;
  cursor:pointer;
}

.showimage{
  height:8vh;
}

.nowplaying{
  gap: 1vw;
  display:grid;
  grid-template-columns: 15fr 85fr;
}

.chatroom{
  padding:2vw;
  display:grid;
  width:100%;
  grid-template-rows: 20vh 70vh 10vh;
}

.showspage{
  display:grid;
  width:100%;
  grid-template-columns: auto auto auto;
  grid-row-gap: 3vw;
  grid-column-gap: 2vw;
  grid-auto-rows: 15vw;
  grid-auto-flow: row;
  padding-left: 4vw;
  padding-right: 8vw;
  padding-top: 4vh;
}

.showspage img{
  width:12.5vw;
  height:12.5vw;
  padding-left:0.3vw;
  padding-right:0.3vw;
  padding-top:0.3vw;
  display:block;
  margin:auto;
}

.showspage div{
  background-color: white;
  color: black;
  width:12.6vw;
  display:block;
}

.showspage h3{
  margin-left:0.2vw;
  margin-right:0.2vw;
  margin-bottom:0.2vw;
  font-weight:normal;
  white-space: normal;
  font-size:1vw;
}

.orderselector{
  padding-top: 4vh;
  padding-left: 4vw;
  padding-right: 8vw;
}
.orderselector a{
  display: inline;
  text-decoration: none;
}

.orderselector h2{
  display: inline;
  font-size: 3vh;
}

.schedulenav{
  line-height:1em;
  cursor:pointer;
  display:inline-block;
}

.schedulenav img{
  display:inline;
  margin:0.2em;
  height:1em;
}

.showpage{
  width:100%;
  display:grid;
  grid-template-columns: 50% 50%;
}

.showpagetitle{
  grid-area: 1/1/1/2
}
.showpageimage{
  grid-area: 2/1/2/1;
}
.showpageimage img{
  width:90%;
  height:auto;
}

.showpagedescription{
  padding-right:2em;
  grid-area: 2/2/2/2;
  vertical-align: top;
  text-align: left;
}

.showpagelistenback {
  grid-area:3/1/3/2;
}

.showpage > .recordinggallery{
  grid-area:4/1/4/span 2;
}


.tracklistTable, .tracklistTable td, .tracklistTable th{
  border: 1px solid white;
  border-collapse: collapse;
  text-align:center;
} 

.recordinggallery{
  width: 90%;
}

.recordingcard{
  background-color: white;
  color: black;
  width:100%;
  display:block;
  display:grid;
  grid-template-columns: 20% 80%;
  margin-bottom: 3vh;
  height:min-content;
}

.recordingcardicon{
  grid-area:1/1/1/1;
}

.recordingcardtext{
  grid-area:1/2/1/2;
}

.recordingcardtext h2, h3{
  font-weight: normal;
  margin-top:0.3vw;
  margin-bottom:0;
}

.recordingcardtext p{
  margin-top:0.3vw;
}

.recordingcard img{
  width:100%;
  height:auto;
  padding:0.3vw;
  display:block;
  margin:auto;
}

.throbber {
  width:20vw;
  height:20vh;
  position:absolute;
  top:50%;
  left:50%;
  margin:-10vh 0 0 -10vw;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media only screen and (max-aspect-ratio: 4/3) {
  .listen.back h2{
    font-size: 2.5vw;
  }
  
  .chat.listenback h3{
    font-size: 2vw;
  }

  .contentpage{
    padding-right:2vw;
  }

  .showspage{
    grid-template-columns: auto auto;
    grid-row-gap: 6vh;
    grid-auto-rows: 25vh;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 4vh;
  }

  .orderselector{
    padding-left: 8vw;
  }

  .showspage img{
    width:16.5vw;
    height:16.5vw;
    padding-left:0.4vh;
    padding-right:0.4vh;
    padding-top:1vh;
  }
  
  .showspage div{
    width:18vw;
  }

  .showspage h3{
    margin-left:1vh;
    margin-right:0.2vh;
    margin-bottom:0.2vh;
    font-size:1.75vh;
  }

  .showpage{
    grid-template-columns: 100%;
  }

  .showpagetitle{
    grid-area: 1/1/1/1
  }
  .showpageimage{
    grid-area: 2/1/2/1;
  }
  .showpagedescription{
    grid-area: 3/1/3/1;
  }
}

@media only screen and (max-aspect-ratio: 3/4) {
  .player {
    grid-area:1/1/span 1/span 2;
  }
  .playervolume {
    display:none;
  }
  .playerlabel{
    width: 100%;
  }
  .playerplaypause{
    display:none;
  }

  .ticker{
    display:none;
  }
  .tickertext{
    display:none;
  }

  .mobilelink{
    display:initial;
  }

  .arrowlink{
    display:none;
  }

  body{
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 5vh 50vh minmax(18vh,auto) auto 5vh;
  }

  .topbreak{
    display:none;
  }

  .leftbar{
    grid-area:2/1/span 2/span 1;
  }

  .logodesktop {
    display:none;
  }

  .logomobile {
    display:initial;
  }

  .leftbar ul{
    font-size: 6vw;
  }

  .leftbar li{
    width: 100%;
  }

  .content{
    grid-area:2/2/span 3/span 1;
    width:100%;
  }

  .contentpage{
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .richtext-image.left{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
  }

  .richtext-image.right{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
  }


  .bigplayer{
    grid-area:4/1/span 1/span 1;
    padding: 2vw;
    display:block;
    margin-top:0;
  }
  .nowplaying{
    display:block;
  }
  .showimage{
    width:100%;
    height:auto;
    display:none;
  }
  .bigplayertext{
    width:100%;
    display:none;
  }
  .bigplaypause{
    width:90%;
  }
  .footer{
    grid-area:5/1/span 1/ span 2;
  }

  .showspage{
    grid-template-columns: auto;
    grid-row-gap: 6vh;
    grid-column-gap: 0;
    grid-auto-rows: 28vh;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 4vh;
  }

  .orderselector{
    padding-left: 8vw;
  }

  .showspage img{
    width:22vh;
    height:22vh;
    padding-left:0.5vh;
    padding-right:0.5vh;
    padding-top:0.5vh;
  }
  
  .showspage div{
    width:22vh;
    margin-left: auto;
    margin-right: auto;
  }

  .showspage h3{
    margin-left:1vh;
    margin-right:0.2vh;
    margin-bottom:0.2vh;
    font-size:2vh;
  }

  .showpagelistenback iframe{
    height:auto;
  }

  .showpage{
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .schedule{
    margin-left: 4vw;
    margin-right: 4vw;
  }
  .recordingcard img{
    padding:0;
  }

  .recordingcardtext p{
    display:none;
  }
}
