{% extends "wagtailadmin/base.html" %}
{% block titletag %}Stream{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <style>
        table {
            width:100%;
            border-spacing: 0;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid;
        }   
    </style>
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Stream" icon="signal" %}

    <div class="nice-padding">
        <section id="Status">
            <h1>
                Status:{% if icestats %} {{ icestats.listeners }} Listeners {% else %} Offline{% endif %}
            </h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Audio Info</th>
                    <th>Source IP</th>
                    <th>Streaming Since</th>
                    <th>Streaming Software</th>
                </tr>
                {% for source in icestats.source %}
                <tr>
                    <td>{{ source.mount }}</td>
                    <td>{{ source.audio_info }}</td>
                    <td>{{ source.source_ip }}</td>
                    <td>{{ source.stream_start }}</td>
                    <td>{{ source.user_agent }}</td>
                </tr>
                {% endfor %}
            </table>
            <p>N.B. This status page does not automatically update! Refresh the page to see new info.</p>
        </section>
    </div>

{% endblock %}