:root {
    --w-color-primary-hue: 3;
    --w-color-primary-saturation: 64%;
    --w-color-primary-lightness: 52%;
    --w-color-secondary-hue: 0;
    --w-color-secondary-saturation: 71%;
    --w-color-secondary-lightness: 38%;
}

#id_contributor {
    columns: 5;
}

#id_attending {
    columns: 5;
}