{% extends "wagtailadmin/base.html" %}
{% load wagtailimages_tags %}
{% load static %}
{% block titletag %}Comms{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <style>
        img.storySlide {
            width: 40%;

        }
    </style>
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Comms" icon="comment" %}

    <div class="nice-padding">
        <section id="instaSchedule">
            <h1>
                Instagram Schedule
            </h1>
            {% for url in story_urls %}
                <img class="storySlide" src="{{ url }}">
            {% empty %}
                No shows today :(
            {% endfor %}
        </section>
        <section id="showComms">
            <h1>
                Show Comms
            </h1>
            {% for episode in episodes_with_comms %}
                <h2>{{episode.title}}</h2>
                {% if episode.image %}
                {% image episode.image fill-1080x1080 format-jpeg style="width:40%" %}
                {% else %}
                <img alt="{{show.name}}" src="{% static '/images/subcity_logo_square.jpg' %}" width="40%">
                {% endif %}
                {% if episode.description %}
                    {{episode.description|linebreaks}}
                {% endif %}
            {% empty %}
                No custom comms today
            {% endfor %}
        </section>
    </div>
{% endblock %}