{% load static %}
{% load wagtailcore_tags %}
<!DOCTYPE html>
<html>
    <script>
        var imagesURL = "{% static 'images' %}"
    </script>
    <head>
        <title>Subcity Radio</title>
        <link rel="stylesheet" href="{% static 'style7.css' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicons/favicon.ico' %}"/>
        <link rel="manifest" href="{% static 'pwa/manifest.json' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{% static 'routing2.js' %}"></script>
        <script src="{% static 'behaviour6.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Subcity Radio is a non-profit, volunteer-run freeform radio station, arts collective, and events promoter based in Glasgow.">
    </head>
    <body>
        <div class="player">
            <div class="playervolume">
                <input type="range" min="0" max="1" step="0.01" value="1" id="volumecontrol" onInput="changedVolume()"></input>
            </div>
            <div class="playerplaypause">
                <img id="playpause" onclick="clickedPlay()" src="{% static 'images/play.svg' %}">
            </div>
            <div class="playerlabel" id="smallplayertext">
                initialising...
            </div>
        </div>
        <div class="ticker">
            <div class="tickertext">
                {% for item in ticker_items.all %}
                    {{ item.item_text }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% endfor %}
            </div>
        </div>
        <div class="leftbar">
            <a onclick="navigate(event, '/')" href="/">
            <img class="logodesktop" src="{% static 'images/logo_subcity_radio.png' %}">
            <img class="logomobile" src="{% static 'images/logo_text.png' %}">
            </a>
            <ul>
                <a onclick="navigate(event, '/schedule/')" href="/schedule"><li>schedule</li></a>
                <a onclick="navigate(event, '/shows/')" href="/shows"><li>shows</li></a>
                <a onclick="navigate(event, '/events/')" href="/events"><li>events</li></a>
                <a onclick="navigate(event, '/about/')" href="/about"><li>about</li></a>
                <a onclick="navigate(event, '/chat/')" href="/chat"><li>chat</li></a>
                <a onclick="navigate(event, '/listen-back/')" href="/listen-back" class="mobilelink"><li>listen back</li></a>
                <div id="morelinks" style="display:none;">
                <a onclick="navigate(event, '/archive/')" href="/archive"><li>archive</li></a>
                <a onclick="navigate(event, '/blog/')" href="/blog"><li>blog</li></a>
                <a onclick="navigate(event, '/get-involved/')" href="/get-involved"><li>get involved</li></a>
                {% if user.is_authenticated %}
                    <a onclick="navigate(event, '/dashboard/')" href="/dashboard"><li>dashboard</li></a>
                {% else %}
                    <a onclick="navigate(event, '/login/')" href="/login"><li>login</li></a>
                {% endif %}
                </div>
                <a role="button" tabindex="0" id="morebutton" style="cursor:pointer;"><li>more</li></a>
            </ul>
        </div>
        <div class="content" id="content">
            {% block content %}
            {% endblock content %}
        </div>
        <div class="listenback arrowlink">
            <a onclick="navigate(event, '/listen-back/')" href="/listen-back">
                <img src="{% static 'images/arrow.svg' %}" style="height:2.5em;"></img> <b style="font-size: 1.8em;">listen back</b>
            </a>
        </div>
        <div class="listenlive arrowlink" onclick="clickedPlay()">
            <b style="font-size: 1.5em;">listen live</b> <img style="transform:rotate(180deg);width:7vw;" src="{% static 'images/arrow.svg' %}"></img>
        </div>
        <div class="bigplayer">
            <div class="nowplaying">
                <div>
                    <img id="show-image" class="showimage" src="{% static '/images/subcity_logo_square.jpg' %}"></img>
                </div>
                <div id="bigplayertext" class="bigplayertext">
                    <h3>initialising...</h3>
                </div>
            </div>
            <div>
                <img id="bigplaypause" class="bigplaypause" onclick="clickedPlay()" src="{% static 'images/play.svg' %}"></img>
            </div>
        </div>
    <div class="footer">
        freeform radio since 1995
    </div>
    </body>
</html>