{% extends "./base.html" %}

{% load wagtailcore_tags %}
{% load static %}

{% block content %}
<br class="topbreak"><br class="topbreak">
<h1>Book Practice</h1>
<p>Practice time in the Subcity studio can be reserved in hour slots on the hour. This is to minimise impact on scheduling; please respect other people's use of the space by not booking out large blocks of time.</p>

<form method = "post">
    {% csrf_token %}
    <select id="date" name="date" onchange="updateHourDropdown()">

    </select>
    <select id="hour" name="hour">

    </select>

    <input type="submit" value="Book">
</form>

{{ slots|json_script:"slot-data" }}
<script>
    generateDayDropdown()
    updateHourDropdown()
</script>

<p>{{ message }}</p>
{% endblock %}