{% extends "./base.html" %}

{% load wagtailcore_tags %}
{% load static %}

{% block content %}
<div class="chatroom">
    <div>
        <iframe src="https://minnit.chat/SubcityRadioChatroom?embed&&nickname=" style="border:none;height:90vh;width:100%;" allowTransparency="true"></iframe>
    </div>
</div>
{% endblock %}