{% extends "./base.html" %}

{% load wagtailcore_tags %}
{% load static %}

{% block content %}
<br class="topbreak"><br class="topbreak">
<div class="contentpage">
    <h1>{{ page.title }}</h1>
    {{ page.body|richtext }}
</div>
{% endblock %}