{% extends "./base.html" %}

{% load wagtailcore_tags %}
{% load static %}

{% block content %}
<br class="topbreak"><br class="topbreak">
<h1>Dashboard</h1>
<p>Logged in as {{ user.username }}. Not you? <a href="/logout/">Log Out</a></p>

{% if shows|length > 0 %}
    {% if shows|length > 1 %}<h2>My Shows</h2>{% else %}<h2>My Show</h2>{% endif %}
    {% for show in shows %}
        <a onclick="navigate(event, '/show/{{ show.id }}')" href="/show/{{ show.id }}">{{ show.name }}</a><br>
    {% endfor %}
{% endif %}

{% if upcoming_episodes|length > 0 %}
    {% if upcoming_episodes|length > 1 %}<h3>Upcoming Episodes</h3>{% else %}<h3>Upcoming Episode</h3>{% endif %}
    {% for episode in upcoming_episodes %}
    <a href="{{ episode.getLink }}">
        {{ episode.start_time|date:'D, j M Y' }}, {{ episode.start_time|date:"H:i" }}-{{ episode.end_time|date:"H:i" }}
        {% if episode.episode_title %}
            | {{ episode.episode_title }}
        {% endif %}
        <br>
    </a>
    {% endfor %}
{% endif %}

{% if shows|length > 0 %}
<h2>Practice</h2>

<a onclick="navigate(event, '/book-practice/')" href="/book-practice/"><h3>Book Practice Time</h3></a>

{% endif %}

{% if upcoming_practice|length > 0 %}
    <h3>Upcoming Practice</h3>
    {% for slot in upcoming_practice %}
        <form action="/cancel-practice/" method = "post">
            {% csrf_token %}
            {{ slot.start_time|date:'D, j M Y' }}, {{ slot.start_time|date:"H:i" }}-{{ slot.end_time|date:"H:i" }}
            <input type="hidden" id="id" name="id" value="{{ slot.id }}">
            <input type="submit" value="Cancel">
            <br>
        </form>
    {% endfor %}
{% endif %}

{% if pending_recordings|length > 0 %}
{% if pending_recordings|length > 1 %}<h2>Pending Recordings</h2>{% else %}<h2>Pending Recording</h2>{% endif %}
    {% for slot in pending_recordings %}
            {{ slot.start_time|date:'D, j M Y' }}, {{ slot.start_time|date:"H:i" }}-{{ slot.end_time|date:"H:i" }} - <a href="/edit-recording/{{slot.id}}">Edit this recording to make it available for listen back</a>
            <br>
    {% endfor %}
{% endif %}

{% endblock %}