{% extends "./base.html" %}

{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}
{% load space_to_plus %}

{% block content %}
<br class="topbreak"><br class="topbreak">
<div class="contentpage">
    <form id="django-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <h1>
        {% if slot.episode_title %}
            <input id="episode_title" name="episode_title" type="text" placeholder="Episode title" value="{{ slot.episode_title }}">
        {% else %}
            <input id="episode_title" name="episode_title" type="text" placeholder="Episode title">
        {% endif %}
    </h1>

    {% if slot.episode_image %}
    {% image slot.episode_image fill-500x500 format-jpeg id="episode_image" style="max-width:50%;height:auto;" %}
    {% elif show.image %}
    {% image show.image fill-500x500 format-jpeg id="episode_image" style="max-width:50%;height:auto;" %}
    {% else %}
    <img alt="{{show.name}}" src="{% static '/images/subcity_logo_square.jpg' %}" id="episode_image" style="max-width:50%;height:auto;">
    {% endif %}

    <p><i>{{ slot.start_time|date:'d/m/Y H:i' }} - {{ slot.end_time|date:'H:i' }}</i></p>
    <p>
        <label for="episode_image_upload">Upload episode image (max 10MB):</label>
        <input type="file" id="episode_image_upload" name="episode_image"> 
    </p>
    <br>
    <p>
        {% if slot.episode_description %}
            <textarea style="width:100%" rows="6" id="episode_description" name="episode_description" type="textarea" placeholder="Episode description">{{ slot.episode_description }}</textarea>
        {% else %}
            <textarea style="width:100%" rows="6" id="episode_description" name="episode_description" type="textarea" placeholder="Episode description"></textarea>
        {% endif %}
    </p>
    <br>
    <input type="hidden" id="tracklistJSON" name="tracklistJSON">
    </form>
    {% if slot.publish_recording %}
        <table id="tracklist-table" class="tracklistTable" style="width:100%;">
            <tr>
                <th>Track Title*</th>
                <th>Track Artist*</th>
                <th>Timestamp</th>
                <th>Link</th>
                <th></th>
            </tr>
            {% for track in tracklist %}
            <tr>
                <td><input type="text" style="width:100%;" onchange="tracklistUpdated()" value="{{ track.title }}"></td>
                <td><input type="text" style="width:100%;" onchange="tracklistUpdated()" value="{{ track.artist }}"></td>
                <td><input type="text" maxlength="2" size="2" placeholder="00" onchange="tracklistUpdated()" value="{{ track.timestamp|slice:'0:2' }}">:<input type="text" maxlength="2" size="2" placeholder="00" onchange="tracklistUpdated()" value="{{ track.timestamp|slice:'3:5' }}">:<input type="text" maxlength="2" size="2" placeholder="00" onchange="tracklistUpdated()" value="{{ track.timestamp|slice:'6:' }}"></td>
                <td><input type="text" style="width:100%;" onchange="tracklistUpdated()" value="{{ track.link }}"></td>
                <td><button onclick="deleteRow(this)">-</button> <button onclick="addRowBelow(this)">+</button></td>
            </tr>
            {% endfor %}
            <tr>
                <td><input type="text" style="width:100%;" onchange="tracklistUpdated()"></td>
                <td><input type="text" style="width:100%;" onchange="tracklistUpdated()"></td>
                <td><input type="text" maxlength="2" size="2" placeholder="00" onchange="tracklistUpdated()">:<input type="text" maxlength="2" size="2" placeholder="00" onchange="tracklistUpdated()">:<input type="text" maxlength="2" size="2" placeholder="00" onchange="tracklistUpdated()"></td>
                <td><input type="text" style="width:100%;" onchange="tracklistUpdated()"></td>
                <td><button onclick="deleteRow(this)">-</button> <button onclick="addRowBelow(this)">+</button></td>
            </tr>
        </table>
    {% endif %}
    <p><i>*required field</i></p>
    {% if slot.publish_recording %}
    <input type="button" value="Publish" onclick="document.getElementById('tracklistJSON').value = tracklistTableToJSON();document.getElementById('django-form').submit()">
    {% else %}
    <input type="button" value="Publish" onclick="document.getElementById('django-form').submit()">
    {% endif %}
    <p><b>{{ message }}</b></p>

</div>
{% if slot.publish_recording %}
<script src="{% static 'tracklist_editor1.js' %}"></script>
{% endif %}
<script>
    const image_upload = document.getElementById("episode_image_upload")

    image_upload.addEventListener("change", () => {
        document.getElementById("episode_image").src = URL.createObjectURL(document.getElementById("episode_image_upload").files[0])
    })
</script>
{% endblock %}