{% extends "./base.html" %}

{% load wagtailcore_tags %}
{% load static %}

{% block content %}
<div style="margin-right:5px;">
<br class="topbreak"><br class="topbreak">
<h1 id="editor-title">Edit Recording</h1>
<div id="editor">
<p>Before your show recording can be made available for listen back you must trim it and supply a track list.</p>
<p>Listen to the preview below to check your start and end times. This editor allows you to extend the recording up to 15 minutes after your slot should've ended, as well as start up to 5 minutes before your slot was supposed to start. If you started late or finished early, you can trim inwards, rather than extend outwards, too.</p>
<p>If your recording would start or end abruptly, you can add a fade in/fade out of up to 15 seconds to smooth it out. Only use this if you really need it, as it will reduce the quality of your recording slightly.</p>
<p>Track lists are required to comply with the terms of our license. Subcity could get in trouble if these are not accurate. Timestamps and links are not required but will be much appreciated by your listeners!</p>

<audio id="raw-audio">
    <source src="{{slot.recording_url}}" type="audio/mpeg">
</audio>

    <h2>Trim</h2>
    <p style="text-align: center;"><button onclick="jumpToStart()">Jump to start</button><button onclick="skipBackTen()">Skip back 10s</button><button id="preview-play-pause" onclick="playPreview()">Play preview</button><button onclick="skipForwardTen()">Skip forward 10s</button><button onclick="jumpToEnd()">Jump to end</button></p>
    <p style="text-align:center;margin-bottom:0">Current position:</p>
    <p id="play-position" style="text-align: center;"></p>
    <canvas id="recording-preview-progress" width="1000" height="10" style="border:1px solid #ffffff;width:100%;"></canvas><br>
    <table style="text-align:center; width:100%;">
        <tr>
            <td id="start-timestamp" style="text-align: left;">{{ slot.start_time|date:'H:i:s' }}</td>
            <td id="end-timestamp" style="text-align: right;">{{ slot.end_time|date:'H:i:s' }}</td>
        </tr>
        <tr>
            <td style="text-align: left;">Start time</td>
            <td style="text-align: right;">End time</td>
        </tr>
        <tr>
            <td>Adjust start</td>
            <td>Adjust end</td>
        </tr>
        <tr>
            <td><button onclick="adjustStart(-60)">&lt- 60s</button><button onclick="adjustStart(-10)">&lt- 10s</button><button onclick="adjustStart(-1)">&lt- 1s</button><button onclick="adjustStart(1)">1s -&gt</button><button onclick="adjustStart(10)">10s -&gt</button><button onclick="adjustStart(60)">60s -&gt</button></td>
            <td><button onclick="adjustEnd(-60)">&lt- 60s</button><button onclick="adjustEnd(-10)">&lt- 10s</button><button onclick="adjustEnd(-1)">&lt- 1s</button><button onclick="adjustEnd(1)">1s -&gt</button><button onclick="adjustEnd(10)">10s -&gt</button><button onclick="adjustEnd(60)">60s -&gt</button></td>
        </tr>
        <tr>
            <td>Fade in: <input onchange="fadeUpdated()" id="fade-in-length" type="number" min="0" max="15" value="0"></td>
            <td>Fade out: <input onchange="fadeUpdated()" id="fade-out-length" type="number" min="0" max="15" value="0"></td>
        </tr>
    </table>

    <h2>Tracklist</h2>
    <table id="tracklist-table" class="tracklistTable" style="width:100%;">
        <tr>
            <th>Track Title*</th>
            <th>Track Artist*</th>
            <th>Timestamp</th>
            <th>Link</th>
            <th></th>
        </tr>
        <tr>
            <td><input type="text" style="width:100%;" onchange="tracklistUpdated()"></td>
            <td><input type="text" style="width:100%;" onchange="tracklistUpdated()"></td>
            <td><input type="text" maxlength="2" size="2" placeholder="00" onchange="tracklistUpdated()">:<input type="text" maxlength="2" size="2" placeholder="00" onchange="tracklistUpdated()">:<input type="text" maxlength="2" size="2" placeholder="00" onchange="tracklistUpdated()"></td>
            <td><input type="text" style="width:100%;" onchange="tracklistUpdated()"></td>
            <td><button onclick="deleteRow(this)">-</button> <button onclick="addRowBelow(this)">+</button></td>
        </tr>
    </table>
    <i>*required field</i>
<form id="django-form" method="post">
    <input type="hidden" id="startOffset" name="startOffset">
    <input type="hidden" id="endOffset" name="endOffset">
    <input type="hidden" id="fadeIn" name="fadeIn">
    <input type="hidden" id="fadeOut" name="fadeOut">
    <input type="hidden" id="tracklistJSON" name="tracklistJSON">
    {% csrf_token %}
</form>

<br><input type="button" value="Publish" onclick="document.getElementById('tracklistJSON').value = tracklistTableToJSON();publish()">


<p>{{ message }}</p>
</div>
</div>
<script src="{% static 'tracklist_editor1.js' %}"></script>
<script src="{% static 'recording_editor4.js' %}"></script>
{% endblock %}