{% extends "./base.html" %}

{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}
{% load space_to_plus %}

{% block content %}
<br class="topbreak"><br class="topbreak">
<div class="showpage">
    <div class="showpagetitle">
        <h1>
            {% if slot.episode_title %}
            {{show.name}} - {{ slot.episode_title }}
            {% else %}
                {{ show.name }} episode {{ episode_number }}
            {% endif %}
        </h1>
    </div>
    <div class="showpageimage">
        {% if slot.episode_image %}
        {% image slot.episode_image fill-500x500 format-jpeg %}
        {% elif show.image %}
        {% image show.image fill-500x500 format-jpeg %}
        {% else %}
        <img alt="{{show.name}}" height="500" src="{% static '/images/subcity_logo_square.jpg' %}" width="500">
        {% endif %}
    </div>
    <div class="showpagedescription">
        <i><a onclick="navigate(event, '{{ show.getLink }}')" href="{{ show.getLink }}">{{ show.name }}</a> | <a onclick='navigate(event, "/schedule/{{ slot.start_time|date:'Ymd' }}")' href="/schedule/{{ slot.start_time|date:'Ymd' }}">{{ slot.start_time|date:'d/m/Y H:i' }} - {{ slot.end_time|date:'H:i' }}</a></i>
        {% if slot.recording_edit_lock %}
            <p><i>Recording is processing, please check back soon</i></p>
        {% elif slot.publish_recording %}
        <audio controls style="padding-top:5px;width:100%;">
            <source src="{{slot.recording_url}}" type="audio/mpeg">
        </audio>
        {% endif %}
        {% if slot.episode_description %}
            {{ slot.episode_description|linebreaks }}
        {% endif %}
        {% if tracklist %}
            {% for track in tracklist %}
            <p>
                {{ track.timestamp }}
                {% if track.link %}
                    <a href="{{track.link}}">
                {% endif %}
                        {{track.artist}} - {{track.title}}
                {% if track.link %}
                    </a>
                {% endif %}
            </p>
            {% endfor %}
        {% endif %}
        {% if show_edit_button and not slot.recording_edit_lock %}
        <p><a href="/edit-episode-info/{{slot.id}}">Edit episode info</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}