{% extends "./base.html" %}

{% load wagtailcore_tags %}
{% load static %}

{% block content %}
<br class="topbreak"><br class="topbreak">
<div class="contentpage">
    {{ body|richtext }}
</div>
{% endblock %}