{% extends "./base.html" %}

{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}

{% block content %}
<br class="topbreak"><br class="topbreak">
<div class="listen-back">
    <h1>Listen Back</h1>
    <p>
        <a onclick="navigate(event, '/rss-instructions/')" href="/rss-instructions">
            <i>You can also listen back by subscribing to Subcity shows as podcasts!</i>
        </a>
    </p>
    <p>Subcity is currently migrating from our <a href="https://www.mixcloud.com/SubcityRadio/" rel="noopener noreferrer">mixcloud account</a> to a bespoke listen back system. For now, most content can still be found on mixcloud, but slowly content will be moved to the show pages found on subcity.org</p>
    
    <p>Once our migration is complete, you will be able to find all past show recordings by exploring <a onclick="navigate(event, '/shows/')" href="/shows">this page.</a> The most recent show recordings made available on subcity.org are as follows:</p>
    <div class="recordinggallery" id="recordinggallery">
        {% for slot in slots %}
        <a onclick="navigate(event, '{{slot.getLink}}')" href="{{slot.getLink}}" style="text-decoration: none;">
            <div class="recordingcard">
                <div class="recordingcardicon">
                    {% if slot.episode_image %}
                    {% image slot.episode_image fill-300x300 format-jpeg alt=slot title=slot %}
                    {% elif slot.show.image %}
                    {% image slot.show.image fill-300x300 format-jpeg alt=slot title=slot %}
                    {% else %}
                    <img alt="{{ slot }}" height="300" src="{% static '/images/subcity_logo_square.jpg' %}" title="{{slot}}" width="300">
                    {% endif %}
                </div>
                <div class="recordingcardtext">
                    <h2>
                        {{ slot.show }}
                        {% if slot.episode_title %}
                            - {{slot.episode_title}}
                        {% endif %}
                    </h2>
                    <h3>
                        {{ slot.start_time|date:'d/m/Y' }}
                    </h3>
                    <p>
                        {% if slot.episode_description %}
                            {{slot.episode_description|truncatechars:150}}
                        {% endif %}
                    </p>
                </div>
            </div>
            </a>

        {% endfor %}
    </div>
    
</div>
{% endblock %}