{% extends "./base.html" %}

{% load wagtailcore_tags %}
{% load static %}

{% block content %}
<br class="topbreak"><br class="topbreak">
<h1>Log In</h1>
{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<form method="post">
    {% csrf_token %}
    Username: {{ form.username }}<br><br>
    Password: {{ form.password }}
    <a onclick="navigate(event, '/reset-password/')" href="/reset-password">Forgot?</a><br><br>
    <input type="submit" value="Log In"><br><br>
    <input type="hidden" name="next" value="{{ next }}">
    {% if form.errors %}
    Your username and password didn't match. Please try again.
    {% endif %}
    
</form>
{% endblock %}