{% extends "./base.html" %}

{% load wagtailcore_tags %}
{% load static %}

{% block content %}
<br class="topbreak"><br class="topbreak">
<h1>Reset Password</h1>
<p>Your password has been reset. <a onclick="navigate(event, '/login/')" href="/login">Login here</a></p>
{% endblock %}