{% extends "./base.html" %}

{% load wagtailcore_tags %}
{% load static %}

{% block content %}
<br class="topbreak"><br class="topbreak">
<h1>Reset Password</h1>
<p>Done! Check your email for a link to reset your password.</p>
{% endblock %}