{% extends "./base.html" %}

{% load wagtailcore_tags %}
{% load static %}

{% block content %}
<br class="topbreak"><br class="topbreak">
<h1>Reset Password</h1>
<p>Please enter the email associated with your Subcity account. If it exists in our system, you'll receive an email with a link to reset your password. If you're having any problems signing in, reach out to our support team.</p>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
{% endblock %}