{% extends "./base.html" %}

{% load wagtailcore_tags %}
{% load static %}

{% block content %}
<br class="topbreak"><br class="topbreak">
{% if rss_link %}
    <h1>Subscribe to {{ show_name }}</h1>
    <p>Copy the following link and paste it into your podcast app to add {{ show_name }} to your subscriptions.</p>
    <h3 onclick="navigator.clipboard.writeText('{{ rss_link }}')">{{ rss_link }}</h3>
    <p>See below for instructions on how to do this on iOS and Android. You can use another app than the ones listed if you prefer, as long as it supports RSS.</p>
{% else %}
    <h1>Subscribe to an RSS feed</h1>
    <p>RSS feeds allow you to use a variety of podcast apps to subscribe to shows on Subcity, get notified about new episodes, and even automatically download recordings for offline listening. Go to the page of the show you want to subscribe to by browsing <a onclick="navigate(event, '/shows/')" href="/shows">subcity.org/shows</a>, then click on the link with the RSS icon <img style="height:1rem;" src="{% static 'images/rss.svg' %}"></img></p>
    <p>Below are instructions for subscribing to an RSS podcast on iOS or Android. You can use another app than the ones listed if you prefer, as long as it supports RSS.</p>
{% endif %}

<br>
<h2 style="display: inline;">Apple Podcasts</h2> <i>iOS</i>
<p><i><a href="https://www.apple.com/uk/apple-podcasts/" rel="noopener noreferrer">apple.com/uk/apple-podcasts/</a></i></p>
<p>
<ol>
    <li>Open the Podcasts app.</li>
    <li>Tap Library.</li>
    <li>Tap Edit in the upper right corner, and then tap "Add a Show by URL..."</li>
    {% if rss_link %}
        <li>Paste in {{ rss_link }}</li>
    {% else %}
        <li>Paste in the link to the RSS feed.</li>
    {% endif %}
    <li>Tap Follow.</li>
</ol>
</p>

<h2 style="display: inline;">AntennaPod</h2> <i>Android</i>
<p><i><a href="https://antennapod.org/" rel="noopener noreferrer">antennapod.org/</a></i></p>
<p>
    <ol>
        <li>Open AntennaPod.</li>
        <li>Open the drawer by swiping from the left or tapping the ☰ burger icon on the top left corner.</li>
        <li>Go to "+ Add Podcast"</li>
        <li>Under "Advanced", go to "Add podcast by RSS address"</li>
        {% if rss_link %}
            <li>Paste in {{ rss_link }}</li>
        {% else %}
            <li>Paste in the link to the RSS feed.</li>
        {% endif %}
        <li>Tap Confirm.</li>
    </ol>
</p>
{% endblock %}