{% extends "./base.html" %}

{% load wagtailcore_tags %}
{% load static %}

{% block content %}
<br class="topbreak"><br class="topbreak">
<div class="schedule">
    <h1>Schedule</h1>
    <div class="schedulenav" onclick="navigate(event, '/schedule/{{ previousWeek }}')">
        <h3><img style="transform:scaleY(-1);" src="{% static 'images/arrow.svg' %}"></img>previous week</h3>
    </div>
    {% for day, slots in scheduleDict.items %}
        <h2>{{ day|date:'D, j M Y' }}</h2>
            <h3>
                {% for slot in slots %}
                    <a style="text-decoration: none;" onclick="navigate(event, '{{slot.1}}')" href="{{slot.1}}">{{ slot.0 }}</a><br>
                {% endfor %}
            </h3>
    {% endfor %}
    <div class="schedulenav" onclick="navigate(event, '/schedule/{{ nextWeek }}')">
        <h3>next week<img style="transform:scaleX(-1);" src="{% static 'images/arrow.svg' %}"></img></h3>
    </div>
</div>
{% endblock %}