{% extends "./base.html" %}

{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}
{% load space_to_plus %}

{% block content %}
<div class="orderselector">
    {% if url_order == "a" %}
        <a onclick="navigate(event, '/shows/?o=r&a={{activeShowsOnly}}&g={{genreSearch|space_to_plus}}')" href="/shows/?o=r&a={{activeShowsOnly}}&g={{genreSearch|space_to_plus}}"><h2 style="color:white">random</h2></a>
        <h2>|</h2>
        <a onclick="navigate(event, '/shows/?o=a&a={{activeShowsOnly}}&g={{genreSearch|space_to_plus}}')" href="/shows/?o=a&a={{activeShowsOnly}}&g={{genreSearch|space_to_plus}}"><h2 style="color:#ebee58">A-Z</h2></a>
    {% else %}
        <a onclick="navigate(event, '/shows/?o=r&a={{activeShowsOnly}}&g={{genreSearch|space_to_plus}}')" href="/shows/?o=r&a={{activeShowsOnly}}&g={{genreSearch|space_to_plus}}"><h2 style="color:#ebee58">random</h2></a>
        <h2>|</h2>
        <a onclick="navigate(event, '/shows/?o=a&a={{activeShowsOnly}}&g={{genreSearch|space_to_plus}}')" href="/shows/?o=a&a={{activeShowsOnly}}&g={{genreSearch|space_to_plus}}"><h2 style="color:white">A-Z</h2></a>
    {% endif %}
    <h2>|</h2>
    {% if activeShowsOnly == "t" %}
        <a onclick="navigate(event, '/shows/?o={{url_order}}&a=f&g={{genreSearch|space_to_plus}}')" href="/shows/?o={{url_order}}&a=f&g={{genreSearch|space_to_plus}}"><h2 style="color:white">active+inactive</h2></a>
        <h2>|</h2>
        <a onclick="navigate(event, '/shows/?o={{url_order}}&a=t&g={{genreSearch|space_to_plus}}')" href="/shows/?o={{url_order}}&a=t&g={{genreSearch|space_to_plus}}"><h2 style="color:#ebee58">active only</h2></a>
    {% else %}
        <a onclick="navigate(event, '/shows/?o={{url_order}}&a=f&g={{genreSearch|space_to_plus}}')" href="/shows/?o={{url_order}}&a=f&g={{genreSearch|space_to_plus}}"><h2 style="color:#ebee58">active+inactive</h2></a>
        <h2>|</h2>
        <a onclick="navigate(event, '/shows/?o={{url_order}}&a=t&g={{genreSearch|space_to_plus}}')" href="/shows/?o={{url_order}}&a=t&g={{genreSearch|space_to_plus}}"><h2 style="color:white">active only</h2></a>
    {% endif %}
    {% if genreSearch %}
        <h2>|</h2>
        <a onclick="navigate(event, '/shows/?o={{url_order}}&a={{activeShowsOnly}}&g={{genreSearch|space_to_plus}}')" href="/shows/?o={{url_order}}&a={{activeShowsOnly}}&g={{genreSearch|space_to_plus}}"><h2 style="color:#ebee58">{{genreSearch}}</h2></a>
        <h2>|</h2>
        <a onclick="navigate(event, '/shows/?o={{url_order}}&a={{activeShowsOnly}}')" href="/shows/?o={{url_order}}&a={{activeShowsOnly}}"><h2 style="color:white">everything</h2></a>
    {% endif %}
</div>

<div class="showspage" id="showspage">
    {% for show in shows %}
    <a onclick="navigate(event, '/show/{{ show.id }}')" href="/show/{{ show.id }}" style="text-decoration: none;">
        <div class="showcard", title="{{ show.description }}">
        {% if show.image %}
        {% image show.image fill-300x300 format-jpeg alt=show.name title=show.description%}
        {% else %}
        <img alt="{{show.name}}" height="300" src="{% static '/images/subcity_logo_square.jpg' %}" title="{{show.description}}" width="300">
        {% endif %}
        <div><h3>{{ show.name }}</h3></div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}