{% extends "./base.html" %}

{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}
{% load space_to_plus %}

{% block content %}
<br class="topbreak"><br class="topbreak">
<div class="showpage">
    <div class="showpagetitle">
        <h1>{{ show.name }}</h1>
    </div>
    <div class="showpageimage">
        {% if show.image %}
        {% image show.image fill-500x500 format-jpeg alt=show.name%}
        {% else %}
        <img alt="{{show.name}}" height="500" src="{% static '/images/subcity_logo_square.jpg' %}" width="500">
        {% endif %}
    </div>
    <div class="showpagedescription">
        {% if show.description %}
            {{ show.description|linebreaks }}
        {% endif %}
        
        <i>
            {% for genre in show.genres.all %}
            <a onclick="navigate(event, '/shows/?g={{genre.name|space_to_plus}}')" href="/shows/?g={{genre.name|space_to_plus}}">
                {{ genre.name }}{%if not forloop.last%},{%endif%}
            </a>
            {% endfor %}
        </i>
        <br><br>
        <a style="text-decoration:none;" onclick="navigate(event, '/rss-instructions/{{show.id}}/')" href="/rss-instructions/{{show.id}}">
            <b>RSS</b> <img style="height:1rem;" src="{% static 'images/rss.svg' %}"></img>
        </a>
        <br>

        {% if show.mixcloud_listen_back_link %}
            <div class="showpagelistenback">
                <a style="text-decoration:none;" href="{{ show.mixcloud_listen_back_link }}" target="_blank" rel="noopener noreferrer">
                    <b>click here for this show's mixcloud playlist</b> <img style="transform:rotate(180deg);width:10%;" src="{% static 'images/arrow.svg' %}"></img>
                </a>
                <br><br>
            </div>
        {% endif %}
    </div>
    {% if listenBackSlots %}
        <div class="recordinggallery">
            <h2>Listen Back</h2>
            {% for slot in listenBackSlots %}
                <a onclick="navigate(event, '{{slot.getLink}}')" href="{{slot.getLink}}" style="text-decoration: none;">
                    <div class="recordingcard">
                        <div class="recordingcardicon">
                            {% if slot.episode_image %}
                            {% image slot.episode_image fill-300x300 format-jpeg alt=slot title=slot %}
                            {% elif slot.show.image %}
                            {% image slot.show.image fill-300x300 format-jpeg alt=slot title=slot %}
                            {% else %}
                            <img alt="{{ slot }}" height="300" src="{% static '/images/subcity_logo_square.jpg' %}" title="{{slot}}" width="300">
                            {% endif %}
                        </div>
                        <div class="recordingcardtext">
                            <h2>
                                {{ slot.show }}
                                {% if slot.episode_title %}
                                    - {{slot.episode_title}}
                                {% endif %}
                            </h2>
                            <h3>
                                {{ slot.start_time|date:'d/m/Y' }}
                            </h3>
                            <p>
                                {% if slot.episode_description %}
                                    {{slot.episode_description|truncatechars:150}}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}