{% extends "wagtailusers/users/edit.html" %}

{% block extra_fields %}
    <li>{% include "wagtailadmin/shared/field.html" with field=form.pronouns %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.bio %}</li>
{% endblock extra_fields %}