{% extends "wagtailadmin/base.html" %}
{% load wagtailimages_tags %}
{% load static %}
{% block titletag %}Programmes{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Programmes" icon="table" %}

    <div class="nice-padding">
        <section id="pendingRecordings">
            <h1>
                Pending Recordings
            </h1>
            {% for slot in pending_recordings %}
            {{ slot.start_time|date:'D, j M Y' }}, {{ slot.start_time|date:"H:i" }}-{{ slot.end_time|date:"H:i" }} - {{slot.show}} <a href="/edit-recording/{{slot.id}}">Edit recording</a> | <a href="/admin/slots/delete/{{slot.id}}">Delete no-show</a><br>
            {% empty %}
                There are no pending recordings :)
            {% endfor %}
        </section>
    </div>
{% endblock %}