{% extends "wagtailadmin/base.html" %}
{% block titletag %}Schedule for week starting {{ weekStartDate|date:'d-m-Y' }}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <style>
        div.content {
            overflow-x: auto;
        }
        table {
            min-width: 600px;
            padding: 0;
            margin: 0;
        }
        table.navigation{
            width:100%;
        }
        table.schedule{
            width:100%;
            height:80vh;
            border-collapse: collapse;
        }
        th, td{
            box-shadow: 0 -1px 0 #aaa inset;
            width: 11.11%;
            padding:0;
            margin:0;
            text-align: center;
        }
        tr.hour:hover{
            background-color:#999;
        }
        div.schedule_parent{
            position: relative;
            width:100%;
            min-height: 80vh;
        }
        div.schedule_table{
            position: absolute;
            width:100%;
        }
        div.schedule_entry{
            position:absolute;
            width: 11.11%;
            text-align: center;
            padding:0;
            margin:0;
            overflow-y: clip;
            border-bottom:2px solid black;
            border-right: 2px solid black;
        }
        a.edit_link{
            text-decoration: none;
            color: inherit;
        }
        th.team_day a{
            text-decoration: none;
            color: inherit;
        }
    </style>
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Schedule" icon="date" %}

    <div class="nice-padding">
        <table class="navigation">
            <tr>
                <th>
                    <a href="{% url 'schedule' %}{{ lastWeek|date:'Ymd' }}">&lt; Previous Week</a>
                </th>
                <th>
                    Week Starting {{ weekStartDate|date:'d-m-Y' }} (Programmes Week {{ weekNumber }} of 4)
                </th>
                <th>
                    <a href="{% url 'schedule' %}{{ nextWeek|date:'Ymd' }}">Next Week &gt;</a>
                </th>
            </tr>
        </table>

    </div>
    <div class="nice-padding">
        <div class="schedule_parent">
            <div class="schedule_table">
                <table class="schedule">
                    <tr>
                        <th></th>
                        <th>Monday {{ weekStartDate|date:'d/m' }}</th>
                        <th>Tuesday {{ tuesdayDate|date:'d/m' }}</th>
                        <th>Wednesday {{ wednesdayDate|date:'d/m' }}</th>
                        <th>Thursday {{ thursdayDate|date:'d/m' }}</th>
                        <th>Friday {{ fridayDate|date:'d/m' }}</th>
                        <th>Saturday {{ saturdayDate|date:'d/m' }}</th>
                        <th>Sunday {{ sundayDate|date:'d/m' }}</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Programmes Days</th>
                        {% for link in progDayLinks %}
                            <th class="team_day" style="background-color:{% if link.0 == 'Take day' %}rgba(226,60,0,0.8)
                            {% else %}rgba(0,138,115,0.8)
                            {% endif %};">
                            <a href="{{ link.1 }}">
                                <div style="height:100%;width:100%">
                                    {{ link.0 }}
                                </div>
                            </a>
                            </th>
                        {% endfor %}
                        <th>Programmes Days</th>
                    </tr>
                    <tr class="hour">
                        <th>00:00</th>
                        <td id="00,1"></td>
                        <td id="00,2"></td>
                        <td id="00,3"></td>
                        <td id="00,4"></td>
                        <td id="00,5"></td>
                        <td id="00,6"></td>
                        <td id="00,7"></td>
                        <th>00:00</th>
                    </tr>
                    <tr class="hour">
                        <th>01:00</th>
                        <td id="01,1"></td>
                        <td id="01,2"></td>
                        <td id="01,3"></td>
                        <td id="01,4"></td>
                        <td id="01,5"></td>
                        <td id="01,6"></td>
                        <td id="01,7"></td>
                        <th>01:00</th>
                    </tr>
                    <tr class="hour">
                        <th>02:00</th>
                        <td id="02,1"></td>
                        <td id="02,2"></td>
                        <td id="02,3"></td>
                        <td id="02,4"></td>
                        <td id="02,5"></td>
                        <td id="02,6"></td>
                        <td id="02,7"></td>
                        <th>02:00</th>
                    </tr>
                    <tr class="hour">
                        <th>03:00</th>
                        <td id="03,1"></td>
                        <td id="03,2"></td>
                        <td id="03,3"></td>
                        <td id="03,4"></td>
                        <td id="03,5"></td>
                        <td id="03,6"></td>
                        <td id="03,7"></td>
                        <th>03:00</th>
                    </tr>
                    <tr class="hour">
                        <th>04:00</th>
                        <td id="04,1"></td>
                        <td id="04,2"></td>
                        <td id="04,3"></td>
                        <td id="04,4"></td>
                        <td id="04,5"></td>
                        <td id="04,6"></td>
                        <td id="04,7"></td>
                        <th>04:00</th>
                    </tr>
                    <tr class="hour">
                        <th>05:00</th>
                        <td id="05,1"></td>
                        <td id="05,2"></td>
                        <td id="05,3"></td>
                        <td id="05,4"></td>
                        <td id="05,5"></td>
                        <td id="05,6"></td>
                        <td id="05,7"></td>
                        <th>05:00</th>
                    </tr>
                    <tr class="hour">
                        <th>06:00</th>
                        <td id="06,1"></td>
                        <td id="06,2"></td>
                        <td id="06,3"></td>
                        <td id="06,4"></td>
                        <td id="06,5"></td>
                        <td id="06,6"></td>
                        <td id="06,7"></td>
                        <th>06:00</th>
                    </tr>
                    <tr class="hour">
                        <th>07:00</th>
                        <td id="07,1"></td>
                        <td id="07,2"></td>
                        <td id="07,3"></td>
                        <td id="07,4"></td>
                        <td id="07,5"></td>
                        <td id="07,6"></td>
                        <td id="07,7"></td>
                        <th>07:00</th>
                    </tr>
                    <tr class="hour">
                        <th>08:00</th>
                        <td id="08,1"></td>
                        <td id="08,2"></td>
                        <td id="08,3"></td>
                        <td id="08,4"></td>
                        <td id="08,5"></td>
                        <td id="08,6"></td>
                        <td id="08,7"></td>
                        <th>08:00</th>
                    </tr>
                    <tr class="hour">
                        <th>09:00</th>
                        <td id="09,1"></td>
                        <td id="09,2"></td>
                        <td id="09,3"></td>
                        <td id="09,4"></td>
                        <td id="09,5"></td>
                        <td id="09,6"></td>
                        <td id="09,7"></td>
                        <th>09:00</th>
                    </tr>
                    <tr class="hour">
                        <th>10:00</th>
                        <td id="10,1"></td>
                        <td id="10,2"></td>
                        <td id="10,3"></td>
                        <td id="10,4"></td>
                        <td id="10,5"></td>
                        <td id="10,6"></td>
                        <td id="10,7"></td>
                        <th>10:00</th>
                    </tr>
                    <tr class="hour">
                        <th>11:00</th>
                        <td id="11,1"></td>
                        <td id="11,2"></td>
                        <td id="11,3"></td>
                        <td id="11,4"></td>
                        <td id="11,5"></td>
                        <td id="11,6"></td>
                        <td id="11,7"></td>
                        <th>11:00</th>
                    </tr>
                    <tr class="hour">
                        <th>12:00</th>
                        <td id="12,1"></td>
                        <td id="12,2"></td>
                        <td id="12,3"></td>
                        <td id="12,4"></td>
                        <td id="12,5"></td>
                        <td id="12,6"></td>
                        <td id="12,7"></td>
                        <th>12:00</th>
                    </tr>
                    <tr class="hour">
                        <th>13:00</th>
                        <td id="13,1"></td>
                        <td id="13,2"></td>
                        <td id="13,3"></td>
                        <td id="13,4"></td>
                        <td id="13,5"></td>
                        <td id="13,6"></td>
                        <td id="13,7"></td>
                        <th>13:00</th>
                    </tr>
                    <tr class="hour">
                        <th>14:00</th>
                        <td id="14,1"></td>
                        <td id="14,2"></td>
                        <td id="14,3"></td>
                        <td id="14,4"></td>
                        <td id="14,5"></td>
                        <td id="14,6"></td>
                        <td id="14,7"></td>
                        <th>14:00</th>
                    </tr>
                    <tr class="hour">
                        <th>15:00</th>
                        <td id="15,1"></td>
                        <td id="15,2"></td>
                        <td id="15,3"></td>
                        <td id="15,4"></td>
                        <td id="15,5"></td>
                        <td id="15,6"></td>
                        <td id="15,7"></td>
                        <th>15:00</th>
                    </tr>
                    <tr class="hour">
                        <th>16:00</th>
                        <td id="16,1"></td>
                        <td id="16,2"></td>
                        <td id="16,3"></td>
                        <td id="16,4"></td>
                        <td id="16,5"></td>
                        <td id="16,6"></td>
                        <td id="16,7"></td>
                        <th>16:00</th>
                    </tr>
                    <tr class="hour">
                        <th>17:00</th>
                        <td id="17,1"></td>
                        <td id="17,2"></td>
                        <td id="17,3"></td>
                        <td id="17,4"></td>
                        <td id="17,5"></td>
                        <td id="17,6"></td>
                        <td id="17,7"></td>
                        <th>17:00</th>
                    </tr>
                    <tr class="hour">
                        <th>18:00</th>
                        <td id="18,1"></td>
                        <td id="18,2"></td>
                        <td id="18,3"></td>
                        <td id="18,4"></td>
                        <td id="18,5"></td>
                        <td id="18,6"></td>
                        <td id="18,7"></td>
                        <th>18:00</th>
                    </tr>
                    <tr class="hour">
                        <th>19:00</th>
                        <td id="19,1"></td>
                        <td id="19,2"></td>
                        <td id="19,3"></td>
                        <td id="19,4"></td>
                        <td id="19,5"></td>
                        <td id="19,6"></td>
                        <td id="19,7"></td>
                        <th>19:00</th>
                    </tr>
                    <tr class="hour">
                        <th>20:00</th>
                        <td id="20,1"></td>
                        <td id="20,2"></td>
                        <td id="20,3"></td>
                        <td id="20,4"></td>
                        <td id="20,5"></td>
                        <td id="20,6"></td>
                        <td id="20,7"></td>
                        <th>20:00</th>
                    </tr>
                    <tr class="hour">
                        <th>21:00</th>
                        <td id="21,1"></td>
                        <td id="21,2"></td>
                        <td id="21,3"></td>
                        <td id="21,4"></td>
                        <td id="21,5"></td>
                        <td id="21,6"></td>
                        <td id="21,7"></td>
                        <th>21:00</th>
                    </tr>
                    <tr class="hour">
                        <th>22:00</th>
                        <td id="22,1"></td>
                        <td id="22,2"></td>
                        <td id="22,3"></td>
                        <td id="22,4"></td>
                        <td id="22,5"></td>
                        <td id="22,6"></td>
                        <td id="22,7"></td>
                        <th>22:00</th>
                    </tr>
                    <tr class="hour">
                        <th>23:00</th>
                        <td id="23,1"></td>
                        <td id="23,2"></td>
                        <td id="23,3"></td>
                        <td id="23,4"></td>
                        <td id="23,5"></td>
                        <td id="23,6"></td>
                        <td id="23,7"></td>
                        <th>23:00</th>
                    </tr>
                    <tr>
                        <th>Comms Days</th>
                        {% for link in commsDayLinks %}
                            <th class="team_day" style="background-color:{% if link.0 == 'Take day' %}rgba(226,60,0,0.8)
                            {% else %}rgba(0,138,115,0.8)
                            {% endif %};">
                            <a href="{{ link.1 }}">
                                <div style="height:100%;width:100%">
                                    {{ link.0 }}
                                </div>
                            </a>
                            </th>
                        {% endfor %}
                        <th>Comms Days</th>
                    </tr>
                </table>
            </div>
            {% for slot in slots %}
                <a class="edit_link" href="{{ slot.url }}" title="{{slot.label}}">
                    <div class="schedule_entry"
                    style="visibility:hidden;
                            background-color:{% if slot.type == 'needs_support' %}rgba(44,183,230,0.8)
                                {% elif slot.type == 'episode' %}rgba(105,219,48,0.8)
                                {% elif slot.type == 'practice' %}rgba(160,70,212,0.8)
                                {% else %}rgba(153,102,51,0.8)
                                {% endif %};"
                    data-duration="{{ slot.duration }}"
                    data-day="{{ slot.day }}"
                    data-start="{{ slot.start }}">
                        {{slot.label}}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <script>
        function moveEntries(){
            $('.schedule_entry').each(function() {
                slotStart = parseInt($(this).data("start"))
                slotDuration = parseInt($(this).data("duration"))
                coordinateString = "#" + Math.floor(slotStart/60).toString().padStart(2, '0') + "\\," + $(this).data("day")
                cellOffset = $(coordinateString).offset()
                cellHeight = $(coordinateString).height()
                cellWidth = $(coordinateString).width()
                $(this).offset({
                    top: cellOffset.top + (cellHeight * ((slotStart % 60)/60)),
                    left: cellOffset.left}
                    )
                $(this).height((cellHeight * slotDuration / 60)-2)
                $(this).width(cellWidth -2)
                $(this).css("visibility","visible")
            })
        }
        window.addEventListener('resize', moveEntries, true)
        window.addEventListener('load', moveEntries)
    </script>
{% endblock %}