{% extends "wagtailadmin/base.html" %}
{% block titletag %}Support{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <style>
        table {
            width:100%;
            border-spacing: 0;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid;
        }
    </style>
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Support" icon="group" %}
    <div class="nice-padding">
        <section id="sit-ins">
            <h1>Sit-Ins</h1>
            <p>Shows that need someone from the team to sit in and help out. Mainly this is people's first or second show, and you just need someone from support to make sure everything goes smoothly, but check the notes in case there are other requirements.</p>

            <table>
                <tr>
                    <th>Show</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Notes</th>
                    <th>Team sitting in</th>
                </tr>
                {% for slot in slotTuples %}
                    <tr>
                        <td><a href="{{ slot.1 }}">{{slot.0.show}}</a></td>
                        <td>{{slot.0.start_time|date:'D d/m/Y'}}</td>
                        <td>{{slot.0.start_time|date:'H:i'}}-{{slot.0.end_time|date:'H:i'}}</td>
                        <td>{{slot.0.notes}}</td>
                        <td>
                            {% for user in slot.0.attending.all %}
                                {{ user.first_name }} {{ user.last_name }}<br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </section>
        <section id="naughtylist">
            <h1>Naughtylist</h1>
            <p>The naughtylist is currently an external spreadsheet. When contributors miss a show without warning us, put it in the spreadsheet.</p>
            <p>The following is a template for reaching out to contributors in the case of their 1st absence:</p>
            <code>
                Hi,<br>
                We noticed that you didn't make it to your show on [DATE]. We were hoping that you could let us know whether or not you'll be continuing your show over the summer. If so, we would be really grateful if you could let us know in advance if you're going to have to skip a show. We are a super small team at the moment, and it makes a big difference to our workload to know if someone won't make it to their show.
            </code>
            <p>
                Content and tone of follow ups on subsequent absences depends on how recently their first absence was, if they've been in touch or not, etc... but put your own spin on it - we're not robots!!
            </p>
            <a class="button" href="https://docs.google.com/spreadsheets/d/1h2Unu5BCoMUIR7tdluyimWGThfwo6eEaTaDH46wYnXQ/edit?usp=share_link" target="_blank">Open Spreadsheet</a>
        </section>
        <section id="keyslist">
            <h1>
                Keys List
            </h1>
            <p>Everyone who has a backend account is on this keys list. Talk to the web team if someone is missing.</p>
            <a class="button" href="{% url 'keyslist' %}" target="_blank">Generate Keys List</a>
        </section>
        <section id="mailinglists">
            <h1>
                Mailing Lists
            </h1>
            <p>N.B. Think carefully about whether to cc or bcc!</p>
            <h3>
                Everybody
            </h3>
            <p>Everyone with a backend account; team and contributors</p>
            <code id="allUsersList">
                {% for user in allUsers %}
                    {{user.email}}, 
                {% endfor %}
            </code>

            <h3>
                All active contributors
            </h3>
            <p>Everyone with a show that is currently marked as active</p>
            <code id="allActiveContributorsList">
                {% for user in allActiveContributors %}
                    {{user.email}}, 
                {% endfor %}
            </code>
        </section>
    </div>
{% endblock %}
