{% load wagtailcore_tags %}

<head>
    <style>
        body{
            font-family: sans-serif;
        }

        table {
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;
        }

        table, th, td {
            border: 2px solid;
        }

        .namelist {
            column-count: 5;
            column-rule: solid 2px;
        }
    </style>
    <title>keyslist_{{ today_numeric }}</title>
</head>

<h2>Subcity Radio Keys List</h2><br>
Subcity access is split into 3 categories:
<ul>
    <li>People with <b>Full Access</b> are core team members and are permitted to take out the office or studio keys <b>at any time.</b></li>
    <li>People with <b>Evening Access</b> have a show in the evening this week, and are permitted to take out the studio keys <b>between 8am and midnight.</b></li>
    <li>People with <b>Daytime Access</b> are only permitted to take out the studio keys <b>between 8am and 6pm.</b></li>
</ul>
There are two sets of studio keys, and one set of office keys. The office keys can also open the studio, but the studio keys cannot open the office.<br>

<br>
Subcity is made possible by a vibrant and diverse group of people. With this in mind, please be kind and considerate if the name/gender/picture on somebody's ID doesn't line up with what you were expecting.
<br><br>
This copy of the keys list was generated on <b>{{ today }}</b>. The keys list should be updated each monday, with an email from support@subcity.org

<br><br>

<b>Full Access (24hr, office + studio)</b>
<hr>
<div class="namelist" style="page-break-after: always;">
    {% for teamMember in team %}
        <div>
            {{ teamMember.first_name }} {{ teamMember.last_name }}
        </div>
    {% endfor %}
</div>

<br>

<b>Evening Access (08:00-00:00, studio only)</b>
<hr>
<div class="namelist">
    {% for contributor in eveningAccess %}
        <div>
            {{ contributor.first_name }} {{ contributor.last_name }}
        </div>
    {% endfor %}
</div>

<br>

<b>Daytime Access (08:00-18:00, studio only)</b>
<hr>
<div class="namelist">
    {% for contributor in daytimeAccess %}
        <div>
            {{ contributor.first_name }} {{ contributor.last_name }}
        </div>
    {% endfor %}
</div>

<script>
    window.print();
</script>